h1 {	
	color: pink; 
	font-family: "Great Vibes", cursive; 
	font-size: 165px; 
	line-height: 160px; 
	font-weight: normal; 
	margin-bottom: 0px; 
	margin-top: 10px; 
	text-align: center; 
	text-shadow: 3px 4px black, 6px 6px purple;
    background-color: purple;
}

body {
	background-image: url(http://7-themes.com/data_images/out/66/6999222-purple-flowers-background.jpg);
}

.new a {
	font-size: 35px;
	color: pink;
	text-decoration: none;
}

.new a:hover {
	color: white;
}

.list {
	font-size: 40px;
	color: white;
}

.link a{
	font-size: 30px;
	text-decoration: none;
	color: pink;
}

.link a:hover {
	color: white;
}

.userinfo {
	text-decoration: none;
	font-size: 20px;
	margin: 0;
}




