<p class = "new">
<a href="/products/new">Create New Product</a></p>
<% @products.each do |a| %>
<p class = "list">Name: <%= a.name %> <br>
Description: <%= a.description %> <br>
Price: <%= a.formatted_price %>$
</p>
<p class = "link">
<%= link_to "Show", product_path(a) %></p>
<%end%>
